.vscode
node_modules
src/
tsconfig.json
webpack.config.json
.github
.gitignore
.vscodeignore
ACSIILogo.md
package.json
tsconfig.json
webpack.config.json
prepublish-beta.js
prepublish-live.js
README-canary.md
README-live.md
README-insiders.md
ext_version.json
prepublish-canary.js
New Logo Baseline.png
SNCodeDefinitions/madrid.json